




@import url('https://fonts.googleapis.com/css2?family=Poppins:wgt@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-image: url('mirror12.jpg');
    background-position: center;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 

    }
    .Portfolio{
      position: fixed;
      top: 10px;
      left: 20px;
      color: rgb(43, 85, 220);
      font-family: roboto;
    }

        
    .container{
       /* width: 1000px;
        height: 500px;
        background-color: #24090980;
        padding: 30px;
        box-shadow: 0 2px 16px rgba(0,0,0,.1);
        border-radius: 20px;
        display: flex;
        flex-direction: row;*/
        width: 1000px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(135deg ,rgba(255,255,255,0.1),rgba(255,255,255,0));
        backdrop-filter:blur(1px) ;
        -webkit-backdrop-filter: blur(3px);
        border-radius: 20px;
        border: 10x solid rgba(255,255,255,0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
       
    }

    .tab_box{
        width: 600px;
        display: flex;
        
       justify-content: space-between;
       right: 0px;
        align-items: center;
        /*border-bottom: 2px solid rgba(229,229,229);*/
      flex-direction: row;
        font-size: 12px;
        font-weight: 600;
        position: relative;
    }
   
  
 .tab_box .tab_btn{
font-size: 18px;


font-weight: 600;
color: #e8a41c;
background: none;
border: none;
padding: 18px;
cursor: pointer;
 }
 
 .tab_box .tab_btn.active{
    color: #7360ff;
    border: 1px #7360ff solid;
    border-radius: 5px;
 }
 .content_box{
    padding: 20px;
    color: white;
 }
 .content_box .content{
    display: none;
    animation: moving .5s ease;
 }
 @keyframes moving {
   from {
      transform: translateY(50px);
      opacity: 0;
   }
   to {
      transform: translateY(0);
      opacity: 1;
   }
}
 .content_box .content.active{
   display: block;
 }
 .content_box .content h2{
    margin-bottom: 10px;
 }
 .aboutpara{
  background-color: rgba(230, 223, 223, 0.441);
 }
 .line{
   position: absolute;
   top: 90px;
   left: 120px;
   width: 90px;
   height: 5px;
   background-color: #7360ff;
   border-radius: 10px;
   transition: all .3s ease-in-out;
 }
 
 .home-image{
    width: 300px;
    height: 300px;
    float: left;
    margin-right: 20px;
    border-radius: 150px;
    border: none;

 }
 .card{
   /*background: rgba(255, 255, 255, 0.192);*/
   display:flex;
   align-items:center;
   padding:50px;
   /*width:600px;*/
   border-radius:10px;
   
}   

.profile-img{
   width: 150px;
   height:150px;
   border-radius: 90px;
    border: 5px solid #1e48d1;
    

}
.info{
   margin-left: 30px;
   color: white;
   font-weight: 500;
   margin-bottom: 20px;



}


.down{
   background-color: rgb(45, 101, 221);
   color: rgb(233, 236, 247);
   margin-right: 40px;
   padding: 10px;
   margin-top: 40px;
   margin-left: 50px;
   align-items: center;
   border-radius: 3px;
   border: none;
   cursor: pointer;
   transition: background-color 1s,color 1s ;
   }
   
   .buttons .send{
   background-color: rgb(32, 9, 241);
   color: rgb(211, 241, 241);
   margin-right: 40px;
   padding: 10px;
   border-radius: 3px;
   border: none;
   cursor: pointer;
   transition: background-color 1s,color 1s ;
   }
   .buttons .send:hover{
      background-color: rgba(65, 56, 56, 0.089);
      color:rgb(247, 241, 241);
   }

   .content .down:hover{
      opacity: 0.3;
   }
.telegram{
   width: 15px;
  margin-right: 10px;
 


}

.phone{

   color: white;
   font-style: italic;
}

.email{

   color: white;
   font-style: italic;
   margin-bottom: 30px;
}

.info .c{
      margin-bottom: 20px;
      height: 20px;

}

@media screen and (max-width:700px) {
   .container{
      width: 90%;
   }
   .tab_box{
      width: 100%;
   }
   .tab_box .tab_btn{
      font-size: 16px;
      padding: 14px;
      
   }
   .home-image{
      width: 150px;
      height: 150px;
      float: left;
      margin-right: 20px;
      border-radius: 75px;
      border: none;
  
   }
   .card{
      /*background: rgba(255, 255, 255, 0.192);*/
      display:flex;
      align-items:center;
      padding:50px;
      width:90%;
      border-radius:10px;
      
   }   
   .content h3{
      display: none;
   }
   
}


